.calculadora {
    padding: 10px;
    background: rgb(105, 104, 105);
    width: 200px;
    border-radius: 10px;
}

.listaMensal {
    padding: 10px;
    background: rgb(12, 12, 12);
    width: 200px;
    border-radius: 20px;
}

.calculadora input{
    background: rgb(255, 254, 254);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    height: 15px;
}


.spResul{

    background: rgb(143, 142, 142);
    color: rgb(229, 236, 234);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

#btnCalc {
    width: 50px;
    padding: 5px;
    background: rgb(231, 231, 231);
    margin-top: 15px;
    border-radius: 10px;
}
#btnCalc:hover{
    background: black;
    color: aqua;
    cursor: wait;
}
